{% extends 'base.html.twig' %}

{% block body %}

	<div class="container my-5">
		<h1>Mon panier</h1>

		<div class="row">
			<div class="col-md-8">
				Liste de mes produits
				{{dump (cart)}}
			</div>
			<div class="col-md-4">
        Récap de mon produits    
            </div>
		</div>

	{% endblock %}
