{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Politique de Confidentialité</h1>
        <p>Chez LAPCOM, nous prenons la protection de vos données personnelles très au sérieux. Cette politique de confidentialité décrit comment nous collectons, utilisons et protégeons vos informations personnelles.</p>

        <h2>Collecte des données</h2>
        <p>Nous collectons diverses informations lorsque vous utilisez notre site, notamment :</p>
        <ul>
            <li>Informations que vous fournissez directement : Lorsque vous créez un compte, passez une commande ou nous contactez pour une question ou un support.</li>
            <li>Données de navigation : Informations collectées automatiquement lorsque vous naviguez sur notre site, telles que l'adresse IP, les préférences de navigateur et l'historique des achats.</li>
            <li>Informations provenant de tiers : Données que nous pouvons recevoir de partenaires commerciaux ou de plateformes de réseaux sociaux lorsque vous interagissez avec nous via ces services.</li>
        </ul>

        <h2>Utilisation des données</h2>
        <p>Nous utilisons vos données pour :</p>
        <ul>
            <li>Traiter et exécuter vos commandes.</li>
            <li>Améliorer votre expérience utilisateur sur notre site.</li>
            <li>Personnaliser notre communication marketing en fonction de vos préférences et comportements d'achat.</li>
            <li>Assurer la sécurité de notre site et prévenir la fraude.</li>
        </ul>

        <h2>Partage des données</h2>
        <p>Nous ne partageons vos données personnelles qu'avec :</p>
        <ul>
            <li>Nos prestataires de services et partenaires commerciaux de confiance qui nous aident à gérer nos opérations et à améliorer nos services.</li>
            <li>Les autorités légales et réglementaires lorsque cela est requis par la loi.</li>
        </ul>

        <h2>Droits des utilisateurs</h2>
        <p>Vous avez le droit de :</p>
        <ul>
            <li>Accéder à vos données personnelles et demander une copie des informations que nous détenons à votre sujet.</li>
            <li>Corriger ou mettre à jour vos informations personnelles si elles sont inexactes ou obsolètes.</li>
            <li>Demander la suppression de vos données personnelles dans certaines circonstances.</li>
            <li>Vous opposer au traitement de vos données personnelles pour des motifs légitimes.</li>
            <li>Retirer votre consentement à tout moment lorsque le traitement est basé sur votre consentement.</li>
        </ul>

        <h2>Conservation des données</h2>
        <p>Nous conservons vos données personnelles aussi longtemps que nécessaire pour atteindre les objectifs décrits dans cette politique, sauf si une période de conservation plus longue est requise ou permise par la loi.</p>

        <h2>Sécurité des données</h2>
        <p>Nous mettons en œuvre diverses mesures de sécurité pour protéger vos données personnelles contre les accès non autorisés, les altérations, les divulgations ou les destructions.</p>

        <h2>Modifications de la Politique de Confidentialité</h2>
        <p>Nous pouvons mettre à jour cette politique de confidentialité de temps en temps pour refléter les changements dans nos pratiques ou les lois applicables. Nous vous informerons de tout changement significatif en publiant une notification sur notre site.</p>

        <h2>Contact</h2>
        <p>Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité ou nos pratiques de protection des données, vous pouvez nous contacter à l'adresse suivante :</p>
        <p>Email : akami@lapcom.com<br>Téléphone : +33 6 99 85 80 05 <br>Adresse : 17 Rue Marcelin Berthelot, 95210 Saint-Gratien, France</p>
    </div>
{% endblock %}
