{% if field.value == 1 %}

	<span class="badge badge-warning">En attente de paiement</span>

{% elseif field.value == 2%}
	<spa class="badge badge-success">Paiement effectué</span>
{% elseif field.value == 3%}
	<spa class="badge badge-succes">Expédiée</span>
	{% elseif field.value == 4%}

{% endif %}
