{% extends 'base.html.twig' %}
{% block body %}
    <div class="container my-5">
    <h1>Inscription</h1>

    {{form(registerForm)}}

    <br />
    Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a>
    
</div>
{% endblock %}