{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-5 unique-class">
        <h1 class="mb-5">Ma commande</h1>

        <div class="card mb-3">
            <div class="card-header">
                Choix de mon adresse de livraison et transporteur 
            </div>
            <div class="card-body">
                {{ form_start(deliverForm, {'attr': {'class': 'form'}}) }}
            <a href="{{path( "app_account_address_form")}}" class="small">Ajouter une nouvelle adresse de livraison</a>
                   <hr> {{ form_widget(deliverForm, {'attr': {'class': 'form-control'}}) }}
                {{ form_end(deliverForm) }}
            </div>
        </div>

        

    </div>

{% endblock %}