{% extends 'base.html.twig' %}

{% block body %}
	<div class="vh-100 d-flex flex-column justify-content-center align-items-center text-center">
		<h1 class="mb-4">Oups! Page introuvable.</h1>
		<p class="mb-4">Nous ne trouvons pas la page que vous cherchez.</p>
		<a href="{{ path('app_home')}}" class="btn btn-primary">Retour à l'accueil</a>
	</div>
{% endblock %}
